<section>
    <div class="container">
    <body>
        <style>
        #map {
            width: 100%;
            height: 400px;
        }
        </style>
    <h3>Google Maps Demo</h3>
    <!--The Div element for the map -->
    <div name="map" id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQaAprLTdxv6WAYiy5SZSOkQ-C97fcBSs&callback=initMap"></script>

    // function createMarkers(address) {
    //     let marker = new google.maps.Marker({positiion: address, map: map})
    // };
    //     // creates marker for an address
    //   function grabAddresses {
    //     informationArray.foreach((address) => {
    //         address = [informationArray.lat, informationArray.lng];
    //         createMarkers(address);
    //     });
    //     }
        
        // passes every address into create markers function
            

            // sets up the map
        </body>
   </div>
</section>

    <%# function allAdress() {
        allAddress.all.push(class Address);
    }
        allAddress.all = []; %>

    <%# //  allAddress.all.forEach(address => {
    //         createMarkers(address)
    //     }); %>